bitsandbytes==0.42.0
bcrypt==4.1.2
colorama==0.4.6
Flask==3.0.2
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.6.0
Flask-SQLAlchemy==3.1.1
flasgger==0.9.7.1
flask-swagger-ui==4.11.1
psycopg2-binary==2.9.9
pysftp==0.2.9
PyJWT==2.8.0
SQLAlchemy==2.0.27
torch==2.4.1
transformers==4.44.2
Werkzeug==3.0.2
peft==0.9.0
pyotp==2.9.0
chromadb==0.5.13
chroma-hnswlib==0.7.6